html {
    display: table;
    margin: auto;
    height: 100%;
    
}
*{
    font-family: 'STIX Two Math', serif;
}

body {
    
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background-color: #6699CC;

    
}

#text{
    font-family: 'Zen Tokyo Zoo', cursive;
}
header{
    
    background-color: white;
    text-align: center;
    border: solid black 3px;
    border-radius: 10px;
    width: 580px;
    margin-bottom: 1rem;
    margin-top: 0rem;
}
.repo{
    text-align: right;
}
section{
    background-color: aquamarine;
    border: solid black 5px;
    border-radius: 50px;
    height: 445px;
    width: 580px;
    padding: 0px;
    margin-bottom: 0px;

}

h1{
    padding-top: 0px;
    text-align: center;
    color: black;
    font-size: xx-large;
}

table, th, td{
    border: solid black 2px;
    border-collapse: collapse;
    padding: 5px ;
    margin: 15px 15px;
    background-color: #fc5a8d;
    height: 4vh;
    width: 75vh;
    text-align: center;
    
}
#noOfNotes{
    background-color: white;
}
th{
    min-width: 100px;
}
#billDiv{
    text-align: center;
    padding: 0px 5px;
    margin: 15px 15px;
}
#cashRcvd{
    text-align : center;
    padding: 5px 5px;
    margin: 15px 15px;
}
#cash, #bill{
    min-width: 250px;
    min-height: 5vh;
    border: solid #6699CC 2px;
    text-align: center;
}

#next, #check {
    
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border: solid black 3px;
    min-width: 5rem;
    background-color: rgb(241, 127, 146);
    border-radius: 5px 10px;
    margin: 15px;
    font-weight: bold;
}
::placeholder{
    text-align: center;
    
    font-size: 1rem;
}
p{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
footer{
    margin-top: 1rem;
    background-color: white;
    text-align: center;
    border: solid black 3px;
    border-radius: 10px;
    width: 580px;
    height: 11vh;
}
a{
    
    text-decoration: none;
    font-weight: bold;
}
.socialMedia{
    display: inline;
    padding: 1rem;

    
}
#cashRcvd{
    display: none;
}
#return{
    display: none;
}
#errorDiv{
    display: none;
}
